# macOS
.DS_Store

# Virtual environments
venv/
.venv/
**/venv/
/octofit-tracker/backend/venv/

# octofit tracker app
# (project files)

# React / Node
node_modules/
.pnp/
.pnp.js

# testing
coverage/
.coverage

# production
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python files
*.pyc
__pycache__/

# Django
db.sqlite3
*.sqlite3

# IDEs
.vscode/
.idea/

# logs
*.log

# Jupyter
.ipynb_checkpoints
